/*UNIVERSITI KUALA LUMPUR*/
/*NUR ALYA NABILAH BINTI ZULKIFLI*/
/*NUR YASMIN SYAHIRAH BINTI MD YUSAINI*/
/*FARAH AIN SOFEA BINTI ARIS FADZILAH*/
/*MUHAMMAD IHSAN BIN MOHAMMAD JAFRI*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #201C28;
  overflow-x: hidden;
}

.secondsec {
  width: 80%;
  margin: auto;
  text-align: center;
}

.thirdsec h3 {
 color: #DFC7C1;
}

.research-col h3 {
  color: #201C28;
}

.article-col {
  flex-basis: 31%;
  background: #FFF3F3;
  border-radius: 10px;
  margin-bottom: 6%;
  padding: 20px 12px;
  box-sizing: border-box;
  margin-left: 10px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  color: #FFF3F3;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  color: #777;
}

h3 {
  text-align: center;
  margin: 0 auto;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.row a:link, .row a:visited {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.row a:hover {
  cursor: pointer;
  transition: 0.4s;
  color: #8eb2ca;
}

@media (max-width: 700px){
  .articlerec {
      flex-direction: column;
  }   
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #FFF3F3;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 5%;
  justify-content: space-between;
  margin-left: 1%;
}

/*FLIP CARD SECTION*/
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 625px;
  perspective: 1000px;
  margin-left: -2.5%;
}

.flip-card-inner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.4s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #DFC7C1;
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  padding-left: 3%;
  padding-right: 3%;
}

.flip-card-front {
  background-color: #777;
  color: black;
}

.flip-card-back {
  background-color: #FFF3F3;
  color: black;
  transform: rotateX(180deg);
}

.flip-card-back h2 {
  margin-top: 3%;
  color: #201C28;
}

.flip-card-back p {
  color: #777;
}

/*RESEARCH SECTION DETAILS*/
.research-row {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
}

.research-row img {
  height: 20%;
  width: 20%;
}

.research-col {
  background: #777;
  border-radius: 10px;
  padding: 20px 12px;
  width: 70%;
  height: 50%;
  box-sizing: border-box;
  padding-left: 3%;
  padding-right: 3%;
  transition: transform .8s;
}

.research-col:hover {
  transform: scale(1.24);
}

.research-col p {
  color: #fff;
}

/*BACK TO TOP BUTTON SECTION*/
.back-to-top {
  background-color: #777;
  color: #FFF3F3;
  opacity: 1;
  z-index: 999;
  transition: opacity .6s ease-in-out;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 10px;
}

a.back-to-top {
  font-weight: 1000;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  line-height: 1.6;
  padding-left: 2px;
  padding-top: 14px;
  text-decoration: none;
}

.back-to-top:hover {
  background-color: #FFF3F3;
  color: #777;
  cursor: pointer;
}