/*UNIVERSITI KUALA LUMPUR*/
/*NUR ALYA NABILAH BINTI ZULKIFLI*/
/*NUR YASMIN SYAHIRAH BINTI MD YUSAINI*/
/*FARAH AIN SOFEA BINTI ARIS FADZILAH*/
/*MUHAMMAD IHSAN BIN MOHAMMAD JAFRI*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #201C28;
    overflow-x: hidden;
  }
  
  /*RESEARCH SECTION*/
  .secondsec {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  .article-col {
    flex-basis: 31%;
    background: #FFF3F3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-left: 10px;
  }
  
  @media (max-width: 700px){
    .articlerec {
        flex-direction: column;
    }   
  }
  
.dot {
  height: 25px;
  width: 25px;
  background-color: #FFF3F3;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 5%;
  justify-content: space-between;
  margin-left: 1%;
}
  
  h1 {
    font-size: 36px;
    font-weight: 600;
    color: #FFF3F3;
  }
  
  h3 {
    text-align: center;
    margin: 0 auto;
  }
  
  p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  
  .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  
  .row a:link, .row a:visited {
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
  
  .row a:hover {
    cursor: pointer;
    transition: 0.4s;
    color: #c895ce;
  }
  
  /*RESEARCH SECTION DETAILS*/
  .research-row {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
  }
  
  .research-row img {
    height: 20%;
    width: 20%;
  }
  
  .research-col {
    background: #777;
    border-radius: 10px;
    padding: 20px 12px;
    width: 70%;
    height: 50%;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    transition: transform .8s;
  }
  
  .research-col:hover {
    transform: scale(1.24);
  }
  
  .research-col p {
    color: #fff;
  }
  
  /*BACK TO TOP BUTTON SECTION*/
  .back-to-top {
    background-color: #777;
    color: #FFF3F3;
    opacity: 1;
    z-index: 999;
    transition: opacity .6s ease-in-out;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  a.back-to-top {
    font-weight: 1000;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    line-height: 1.6;
    padding-left: 2px;
    padding-top: 14px;
    text-decoration: none;
  }
  
  .back-to-top:hover {
    background-color: #FFF3F3;
    color: #777;
    cursor: pointer;
  }